<div>
	<div class="floatleft">
		<img ng-src="images/{{detailCtrlr.car.type}}.png" alt="Mercedes Car Type" height="80%" width="80%">
	</div>
	
	</div class="floatright">
		<table width="80%">
			<tr>
				<td>{{ detailCtrlr.car.description }}</td>
			</tr>
			<tr>
				<td class="kleur2">
					Basisprijs
				</td>
				<td class="kleur2">
					<input type="number" name="price" ng-model="detailCtrlr.car.price">
				</td>
			</tr>
			<tr>
				<td class="kleur2">
					Verkeersbelasting (jaarlijks)
				</td>
				<td class="kleur2">
					<input type="number" name="roadtax" ng-model="detailCtrlr.car.roadtax">
				</td>
			</tr
			<tr>
				<td class="kleur2">
					Belasting op inverkeerstelling
				</td>
				<td class="kleur2">
					<input type="number" name="traffictax" ng-model="detailCtrlr.car.traffictax">
				</td>
			</tr>
			<tr>
				<td class="kleur2">
					Gemid. verbruik (l/100 km)
				</td>
				<td class="kleur2">
					<input type="number" name="usage" ng-model="detailCtrlr.car.usage">
				</td>
			</tr>
		</table>
	<div>
</div>
